{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="px-5 container-fluid">
        <img src="{% static 'images/logo.jpg' %}" alt="" width="50" height="65">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewrecord">View File Record</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bmicalculate">BMI</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/addrecord">Add a new record</a></li>
                        <li><a class="dropdown-item" href="/addhealthinfo">Add Health Information</a></li>
                        <li><a class="dropdown-item" href="/dietrecord">Add Food Record</a></li>
                        <li><a class="dropdown-item" href="/exerciserecord">Add Exercise Record</a></li>
                    </ul>
                </li>
                
            </ul>
            <button><a class="text-decoration-none link-dark" href="{% url 'logoutuser' %}">Logout</a></button>

            
        </div>
    </div>
</nav>