{% extends 'main.html' %}

{% block title %}
<title>View Your Record</title>
{% endblock title %}

{% block content %}
<div class="container mx-auto">
    <div class="w-75 mx-auto">
        <p class="h2"> Calculate Your BMI</p>
    </div>
</div>
<div class="container w-75">
    <div class="p-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class='row'>
                <div class="form-outline mb-4 col">
                    <br>
                    <label for="height" class="form-label">Height: </label>
                </div>
                <div class="form-outline mb-4 col">
                    <label for="height" class="form-label">feet</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" name="feetheight" value='0'>
                </div>
                <div class="form-outline mb-4 col">
                    <label for="height" class="form-label">inch</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" name="inchheight" value='0'>
                </div>
            </div>
            <div class='row'>
                <div class="form-outline mb-4 col">
                    <br>
                    <label for="height" class="form-label">Weight: </label>
                </div>
                <div class="form-outline mb-4 col">
                    <label for="height" class="form-label">Kg</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" name="weight">
                </div>

            </div>

            <div class="float-end"><input type="submit" name="User information Create" value="Confirm"></div>
        </form>
    </div>
</div>

{% if resultinterface %}


<br>
<br>
<table class="w-50 table-borderless mx-auto table text-white h1">
    <tbody>
        <tr>
            <td>BMI </td>
            <td>{{bmi}} </td>
        </tr>
        <tr>
            {% if below %}
            <td>You are underweight.</td>
            {% endif %}
            {% if good %}
            <td>Your weight is normal</td>
            {% endif %}
            {% if above %}
            <td>You are overweight.</td>
            {% endif %}
            {% if obsess %}
            <td>Your weight is Obese</td>
            {% endif %}

        </tr>

    </tbody>
</table>

{% endif %}

{% endblock content %}