{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>View Food Record</title>
{% endblock title %}
{% block content %}
{% comment %} {% for record in records %}
<a href="{{record.upload_file.url}}" download=>{{record.upload_file}}</a>
<br>
{{record.upload_date}}
<br>
{% endfor %} {% endcomment %}

<div class="container w-100 pt-5 mt-5">
    <p class="h1 text-secondary">Your Food Records</p>
</div>
<div class="container w-100 pt-5 ">
    <div>
        <table class="table table-secondary table-bordered" style='font-size: 13.5px'>
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Chicken</th>
                    <th scope="col">Beef</th>
                    <th scope="col">Lantil</th>
                    <th scope="col">Mutton</th>
                    <th scope="col">Broccoli</th>
                    <th scope="col">Potato</th>
                    <th scope="col">Corn</th>
                    <th scope="col">Apple</th>
                    <th scope="col">Banana</th>
                    <th scope="col">Orange</th>
                    <th scope="col">Rice</th>
                    <th scope="col">Bread</th>
                    <th scope="col">Fish</th>
                    <th scope="col">Milk</th>
                    <th scope="col">Yogurt</th>
                    <th scope="col">Updated date   </th>
                </tr>
            </thead>
            <tbody>
                {% for dietrecord in dietrecords %}
                <tr >
                    <td>{{dietrecord.time}}</td>
                    <td>{{dietrecord.chicken}} {{dietrecord.chicken_unit}}</td>
                    <td>{{dietrecord.beef}} {{dietrecord.beef_unit}}  </td>
                    <td>{{dietrecord.lantil}} {{dietrecord.lantil_unit}}  </td>
                    <td>{{dietrecord.mutton}} {{dietrecord.mutton_unit}}  </td>
                    <td>{{dietrecord.broccoli}} {{dietrecord.broccoli_unit}}  </td>
                    <td>{{dietrecord.potatoes}} {{dietrecord.potatoes_unit}}  </td>
                    <td>{{dietrecord.corn}} {{dietrecord.corn_unit}}  </td>
                    <td>{{dietrecord.apple}} {{dietrecord.apple_unit}}  </td>
                    <td>{{dietrecord.banana}} {{dietrecord.banana_unit}}  </td>
                    <td>{{dietrecord.orange}} {{dietrecord.orange_unit}}  </td>
                    <td>{{dietrecord.rice}} {{dietrecord.rice_unit}}  </td>
                    <td>{{dietrecord.bread}} {{dietrecord.bread_unit}}  </td>
                    <td>{{dietrecord.fish}} {{dietrecord.fish_unit}}  </td>
                    <td>{{dietrecord.milk}} {{dietrecord.milk_unit}}  </td>
                    <td>{{dietrecord.yogurt}} {{dietrecord.yogurt_unit}}  </td>
                    <td>{{dietrecord.update_date}}</td>
                    
                    
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>
{% endblock content %}